body {
  background-color: RGB(1, 0, 1);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/bg11.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(4px);
  z-index: -1;
}
header {
  z-index: 1;
  position: fixed;
  width: 100%;
  left: 0px;
  top: 0px;
  height: 55px;
  background-color: #0000009e;
  display: flex;
  justify-content: space-around;
}
#logo {
  margin-top: -5px;
  margin-right: -5px;
  width: 70px;
  vertical-align: middle;
}
#name {
  font-size: 25px;
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
}
#name2 {
  font-size: 25px;
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: rgb(140, 140, 140);
}
.links {
  margin-top: 17px;
}
.link {
  margin-right: 10px;
  font-size: 15px;
  text-decoration: none;
  color: white;
}
.link:hover {
  color: rgb(140, 140, 140);
}
.username {
  text-align: center;
  margin-top: 200px;
  color: white;
}
#username {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 60px;
}
#hello {
  color: rgb(140, 140, 140);
}
#iconafter {
  font-size: 50px;
  font-family: "Courier New", Courier, monospace;
}
#btncontact {
  background-color: rgba(140, 140, 140, 0.612);
  border: 1px solid rgb(140, 140, 140);
  border-radius: 15px;
  width: 150px;
  height: 35px;
  color: white;
  margin-top: 30px;
  cursor: pointer;
}
.about {
  padding-top: 30px;
  /* height: 100px; */
  height: max-content;
  margin-left: -7px;
  width: 101.1%;
  margin-top: 145px;
  text-align: center;
  color: white;
}
#logoabout {
  width: 460px;
  transition: opacity 1s ease-in-out;
  opacity: 0.5;
}

#logoabout.animate {
  animation: lefttrans 2s forwards;
  opacity: 1; /* Make the logo visible once the animation starts */
}
@keyframes lefttrans {
  0% {
    margin-left: -200px;
  }
  100% {
    margin-left: 0px;
  }
}

.twodives {
  display: flex;
  justify-content: center;
}
.divabout {
  text-align: left;
}
#h4about {
  color: black;
}
#pabout {
  width: 320px;
}
#h4 {
  font-size: 16px;
}
th,
td {
  padding-bottom: 10px;
  padding-right: 20px;
}
#Cvbutton {
  background-color: rgba(128, 128, 128, 0.463);
  color: white;
  width: 150px;
  border-radius: 10px;
  border: none;
  height: 35px;
  margin-top: 10px;
  margin-bottom: 40px;
  cursor: pointer;
}
#Cvbutton:hover {
  color: black;
  background-color: transparent;
  background-image: linear-gradient(to right, white, gray, gray, gray);
}

.skills,
.RESUME {
  padding-top: 30px;
  /* height: 100px; */
  height: max-content;
  margin-left: -7px;
  width: 101.1%;
  margin-top: 100px;
  text-align: center;
  color: white;
}
.divskills {
  margin-top: 40px;
  margin-left: 19%;
  margin-right: 17%;
  display: flex;
  flex-wrap: wrap;
}
.skill {
  height: 150px;
  padding-top: 20px;
  border-radius: 10px;
  width: 130px;
  margin-top: 20px;
  margin-left: 30px;
  text-align: center;
  cursor: pointer;
  background-color: rgb(69, 69, 69);
  opacity: 0;
  transition: opacity 1s;
}
.skill.animate {
  animation: 1s skill forwards;
}
#imgskill {
  width: 70px;
}
.skill:hover {
  border: 2px solid white;
  color: black;
}

@keyframes skill {
  0% {
    margin-top: 50px;
    opacity: 0;
  }
  100% {
    margin-left: 20px;
    opacity: 1;
  }
}
hr {
  margin-top: -15px;
  width: 100px;
  height: 2px;
  border: none;
  background-color: transparent;
  background-image: linear-gradient(
    to right,
    rgb(74, 73, 73),
    white,
    rgb(137, 137, 137)
  );
}
.resumdiv {
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
}
#iconresume {
  width: 30px;
  vertical-align: middle;
  margin-right: 10px;
}
#iconresume2 {
  width: 30px;
  vertical-align: middle;
  margin-right: 10px;
}
.part1 {
  margin-right: 120px;
}
.part1_1 {
  text-align: left;
}
.part1_2 {
  text-align: left;
}
.resumeh3 {
  color: rgb(138, 138, 138);
}
#year {
  color: rgb(218, 218, 218);
}
.part2 {
  text-align: left;
  max-width: 300px;
}
#resumep {
  margin-left: 20px;
}
.Projects {
  padding-top: 30px;
  /* height: 100px; */
  height: max-content;
  margin-left: -7px;
  width: 101.1%;
  margin-top: 100px;
  text-align: center;
  color: white;
}
.containerproject {
  display: flex;
}
.project1 {
  margin-top: 80px;
  width: 380px;
  border-radius: 10px;
  margin-left: 30px;
}
#imgproject {
  width: 100%;
  height: 100%;
  z-index: -1;
}

#btndemo {
  background-color: rgba(0, 0, 0, 0.986);
  border-radius: 15px;
  width: 150px;
  height: 35px;
  color: white;
  margin-top: 190px;
  margin-left: 120px;
  display: none;
  cursor: pointer;
  position: absolute;
  opacity: 0;
}
/* #btndemo{

} */
.project1 {
  position: relative;
}

.project1:hover #btndemo {
  display: block;
  opacity: 1;
}

#iconbtn {
  width: 15px;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: middle;
}

.CONATCT {
  padding-top: 30px;
  /* height: 100px; */
  height: max-content;
  margin-left: -7px;
  width: 101.1%;
  margin-top: 120px;
  text-align: center;
  color: white;
}
.container{
  margin-left: 30%;
  margin-top: 50px;
  text-align: left;
  display: flex;
}
#inout{
  margin-top: 8px;
  padding: 10px;
  outline: none;
  width: 210px;
  border-radius: 3px;
  background-color: rgb(207, 207, 207);
}
#send{
  background-color: rgba(140, 140, 140, 0.612);
  border: 1px solid rgb(140, 140, 140);
  border-radius: 15px;
  width: 110px;
  height: 30px;
  color: white;
  margin-top: 30px;
  cursor: pointer;
}

#imgcontact{
  border-radius: 50%;
  border: 1px solid gray;
  padding: 10px;
  width: 30px;
  margin-right: 10px;
  vertical-align: middle;
}
#imfoco{
  color: gray;
  margin-left: 60px;
}
#socialh3{
  color: gray;
}
#socialbtn{
  background-color: rgba(140, 140, 140, 0.612);
  border: 1px solid rgb(140, 140, 140);
  border-radius: 15px;
  width: 100px;
  height: 30px;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}